.carousel-item img {
  display: block;
  margin: 0 auto;
  width: 70%;   
}

.cartaz {
  width: 80%;            
  margin: 80px auto;   
  padding: 3rem 1.5rem;
  background-color: rgb(32, 31, 39);
  max-width: 1200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.filmes img {
  width: 20%;
}

form input,
form textarea {
  background-color: #222 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 4px;
  box-shadow: none !important;
}

form input:focus,
form textarea:focus {
  background-color: #222 !important;
  color: #fff !important;
  border-color: #fff !important;
  box-shadow: none !important;
  outline: none !important;
}

.coupon-card {
  border: 2px dashed #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.discount {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.coupon-code {
  display: inline-block;
  background: #f8f9fa;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-family: monospace;
}

main {
  margin: 5%;
}